.jumbotron form {
  margin: 25px;
  width: 100%;
  padding: 25px;
  border: 1px solid black;
}

.sticky {
  position: fixed;
  top: 0;
  width: 73%;
  z-index: 999;
}

.errorDiv {
  display: none;
}

.alert {
  padding: 25px;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 24px;
}

#resultsJumbo {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}